---
import Layout from "../../layouts/Layout.astro";
import { data } from "../../data/teams.json";
export function getStaticPaths() {
    return data.map((team) => ({
        params: {
            team: team.id,
        },
    }));
}
const { team } = Astro.params;
const teamData = data.find((t) => t.id === team);
---

<Layout>
    <section>
        <div class="container">
            <h1 class="team-title">{teamData?.name}</h1>
            <div class="red-bar"></div>
            <ul class="team-grid">
                {
                    teamData?.images.map((i) => (
                        <li>
                            <a href={i.img.src} class="glightbox">
                                <img class="team-img" src={i.img.src} alt={i.img.alt} />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
</Layout>
<style>
    .team-title {
        font-size: clamp(2rem, 1.4194rem + 2.5806vw, 4rem);
    }
    .team-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        list-style: none;

        .team-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
</style>
