---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="container">
        <h1>Impressum</h1>
        <div>
            <h2>Angaben gem&auml;&szlig; &sect; 5 DDG</h2>
            <div>
                Rescue Dogs Schleswig-Flensburg e.V.<br />
                Kleinquern 9<br />
                24973 Steinbergkirche<br />
                Deutschland
            </div>

            <h2>Vertreten durch den Vorstand gem&auml;&szlig; &sect; 26 BGB</h2>
            <ol>
                <li>Vorsitzende Simone Nommensen</li>
                <li>Vorsitzende Edeltraut Schreiber</li>
            </ol>

            <h2>Kontakt</h2>
            <div>
                Rescue DOGS Schleswig-Flensburg e.V.<br />
                Kleinquern 9<br />
                24973 Steinbergkirche<br />
                E-Mail: <a href="mailto:rescuedogs.schleswig-flensburg@t-online.de">
                    rescuedogs.schleswig-flensburg@t-online.de
                </a>
            </div>

            <h2>Vereinsregistereintrag</h2>
            <p>
                Registergericht: Amtsgericht Flensburg<br />
                Registernummer: VR 3099 FL
            </p>

            <h2>Streitschlichtung</h2>
            <p>
                Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
                <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">
                    https://ec.europa.eu/consumers/odr/
                </a>
            </p>
            <p>
                Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen.
            </p>

            <h2>Haftung f&uuml;r Inhalte</h2>
            <p>
                Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 DDG f&uuml;r eigene Inhalte auf diesen
                Seiten nach den allgemeinen Gesetzen verantwortlich. Nach &sect;&sect; 8 bis 10 DDG sind wir als
                Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu
                &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit
                hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
                allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab
                dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden
                entsprechender Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
            </p>

            <h2>Haftung f&uuml;r Links</h2>
            <p>
                Unser Angebot enth&auml;lt Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss
                haben. Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen.
                F&uuml;r die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
                verantwortlich. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            </p>

            <h2>Urheberrecht</h2>
            <p>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
                Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung
                au&szlig;erhalb der Grenzen des Urheberrechts bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen
                Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht
                kommerziellen Gebrauch gestattet.
            </p>

            <h2>Spendenkonto</h2>
            <p>
                Rescue DOGS Schleswig-Flensburg e.V.<br />
                Nord-Ostsee Sparkasse, 24837 Schleswig<br />
                <abbr title="International Bank Account Number">IBAN</abbr>: DE02 2175 0000 0165 4555 10
            </p>
        </div>
    </section>
</Layout>

<style>
    h1 {
        font-size: clamp(2rem, 1.4194rem + 2.5806vw, 4rem);
    }
    h2 {
        font-size: clamp(1rem, 0.7823rem + 0.9677vw, 1.75rem);
        padding-block: 1.25rem 1rem;
    }
    ol {
        padding-inline-start: 1.5rem;
        display: grid;
        gap: 0.5rem;
    }
    a {
        color: var(--black);
        transition: all 0.3s ease;
        &:hover {
            color: var(--red);
            text-decoration: none;
        }
    }
</style>
