<footer>
    <div class="container">
        <div class="footer-outer">
            <div class="footer-inner">
                <div class="footer-brand">
                    Rescue Dogs
                    <span>Schleswig-Flensburg e.V. · Gegründet 2013</span>
                </div>
                <ul class="footer-links">
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Satzung</a></li>
                </ul>
            </div>
            <div class="footer-copy">© 2026 Rescue Dogs Schleswig-Flensburg e.V.</div>
        </div>
    </div>
</footer>

<style>
    footer {
        border-top: 3px solid var(--red);
        background: var(--black);
    }

    .footer-outer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
    .footer-inner {
        display: grid;
        gap: 1.5rem;
    }
    .footer-brand {
        font-size: 1.5rem;
        color: var(--white);
        letter-spacing: 2px;

        span {
            display: block;
            font-size: 1rem;
            color: var(--red);
            letter-spacing: 1px;
            font-weight: 300;
        }
    }

    .footer-links {
        display: flex;
        gap: 2rem;
        list-style: none;
        flex-wrap: wrap;

        a {
            color: var(--white);
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.2s;

            &:hover {
                color: var(--red);
            }
        }
    }

    .footer-copy {
        align-self: end;
        font-size: 0.75rem;
        color: var(--white);
    }
</style>
